<style>
  .zoho-express-selling-form {
    width: 100vw; /* Full width of viewport */
    height: 100vh; /* Full height of viewport */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999; /* Ensures it's on top of other content */
    background-color: #fff; /* Optional: Set background color */
    margin: 0;
    padding: 0;
  }

  .zoho-express-selling-form iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
</style>

<div class="zoho-express-selling-form">
  <iframe aria-label='Express Selling Form' frameborder="0" allow="camera;" src='https://forms.zohopublic.com/CC/form/ExpressSellingForm/formperma/uacuGP-lKUKKJeglZKNInITKQDOR58p5nCRSAh5kWUY?zf_enablecamera=true'></iframe>
</div>